<div class="user-profile">
  <%= render 'shared/user_profile', user: @user %>
</div>

<div class="user-bio">
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>

<div class="posts">
  <% @posts.each_with_index do |post, index| %>
    <%= link_to user_post_path(@user, post) do %>
      <%= render 'posts/post_preview', post: post, index: index, user: @user, show_comments: false, show_user_details: false %>
    <% end %>
  <% end %>
</div>

<div class="all-posts-link">
  <%= link_to 'See all posts', user_posts_path(@user) %>
</div>
