<div class="post-preview">
  <div>
    <h3><%= post.title %> - Post #<%= index + 1 %></h3>
    <p><%=h truncate(post.text, length: PostsHelper::CHARACTER_LIMIT) %></p>
    <small>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></small>
    <% if local_assigns[:show_comments] && show_comments %>
      <div>
      <% comments.each do |comment| %>
        <%= render 'shared/comment', comment: comment %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
