<div class="post-details">
  <h1><%= @post.title %></h1>
  <small>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></small>
  <p><%= @post.text %></p>
  <div class="comments">
    <% @recent_comments.each do |comment| %>
      <%= render 'shared/comment', comment: comment %>
    <% end %>
  </div>
</div>
